.todo-list {
  position: relative;
  z-index: 2;

  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
  .list-header {
    position: relative;
    &:before {
      position: absolute;
      z-index: 2;
      top: -16px;
      right: 0;
      left: 0;

      height: 15px;

      content: "";

      border-bottom: 1px solid #6c615c;
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
      background: #8d7d77;
      background: -webkit-gradient(linear,left top,left bottom,from(rgba(132,110,100,0.8)),to(rgba(101,84,76,0.8)));
      background: -webkit-linear-gradient(top,rgba(132,110,100,0.8),rgba(101,84,76,0.8));
      background:    -moz-linear-gradient(top,rgba(132,110,100,0.8),rgba(101,84,76,0.8));
      background:      -o-linear-gradient(top,rgba(132,110,100,0.8),rgba(101,84,76,0.8));
      background:     -ms-linear-gradient(top,rgba(132,110,100,0.8),rgba(101,84,76,0.8));
      background:         linear-gradient(top,rgba(132,110,100,0.8),rgba(101,84,76,0.8));

      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#9d8b83', EndColorStr='#847670');
    }
  }
  .list-form {
    position: relative;

    height: 45px;

    background: rgba(0,0,0,0.02);
    #toggle-all {
      position: absolute;
      top: 0;
      left: 0;

      width: 40px;
      height: 45px;
      margin: 0;

      cursor: pointer;

      outline: none;

      -webkit-appearance: none;
              appearance: none;
      &:before {
        position: absolute;

        padding: 14px 11px;

        color: #d9d9d9;

        font-family: FontAwesome;
        font-size: 20px;
      }
      &.checked {
        &:before {
          content: "\f046";
        }
      }
      &.unchecked {
        &:before {
          content: "\f096";
        }
      }
    }
    #add-todo {
      position: absolute;
      left: 40px;

      width: calc(100% - 40px);
      height: 100%;
      padding: 16px;

      border: none;
      outline: none;
      background: transparent;

      font-size: 16px;
      &::-webkit-input-placeholder {
        font-style: italic;
      }
      &:-moz-placeholder {
        font-style: italic;
      }
    }
  }
}

@media(min-width: 650px){
  .todo-list {
    position: relative;
    z-index: 2;

    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    .list-header {
      position: relative;
      &:before {
        position: absolute;
        z-index: 2;
        top: -16px;
        right: 0;
        left: 0;

        height: 15px;

        content: "";

        border-bottom: 1px solid #6c615c;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        background: #8d7d77;
        background: -webkit-gradient(linear,left top,left bottom,from(rgba(132,110,100,0.8)),to(rgba(101,84,76,0.8)));
        background: -webkit-linear-gradient(top,rgba(132,110,100,0.8),rgba(101,84,76,0.8));
        background:    -moz-linear-gradient(top,rgba(132,110,100,0.8),rgba(101,84,76,0.8));
        background:      -o-linear-gradient(top,rgba(132,110,100,0.8),rgba(101,84,76,0.8));
        background:     -ms-linear-gradient(top,rgba(132,110,100,0.8),rgba(101,84,76,0.8));
        background:         linear-gradient(top,rgba(132,110,100,0.8),rgba(101,84,76,0.8));

        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#9d8b83', EndColorStr='#847670');
      }
    }
    .list-form {
      position: relative;

      height: 65px;

      background: rgba(0,0,0,0.02);
      #toggle-all {
        position: absolute;
        top: 0;
        left: 0;

        width: 40px;
        height: 65px;
        margin: 0;

        cursor: pointer;

        outline: none;

        -webkit-appearance: none;
                appearance: none;
        &:before {
          position: absolute;

          padding: 20px 11px;

          color: #d9d9d9;

          font-family: FontAwesome;
          font-size: 28px;
        }
        &.checked {
          &:before {
            content: "\f046";
          }
        }
        &.unchecked {
          &:before {
            content: "\f096";
          }
        }
      }
      #add-todo {
        position: absolute;
        left: 40px;

        width: calc(100% - 40px);
        height: 100%;
        padding: 16px;

        border: none;
        outline: none;
        background: transparent;

        font-size: 24px;
        &::-webkit-input-placeholder {
          font-style: italic;
        }
        &:-moz-placeholder {
          font-style: italic;
        }
      }
    }
  }
}