.footer {
  position: relative;
  z-index: 9;

  margin-top: 40px;
  padding: 0 20px;

  text-align: center;

  background: #eaeaea;

  font-size: 11px;
  &:before, &:after {
    display: table;

    content: "";
  }
  &:after {
    clear: both;
  }
  .footer-item {
    display: inline-block;

    padding: 10px;
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
    &.center {
      position: absolute;
      right: 0;
      bottom: 25px;
      left: 0;
    }
    .footer-link {
      text-decoration: none;

      color: #666;
      &:hover {
        text-decoration: none;

        color: #333;
      }
    }
  }
}

@media(min-width: 480px) {
  .footer {
    font-size: 12px;
  }
}
@media(min-width: 650px) {
  .footer {
    position: fixed;
    z-index: 9;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 0 50px;

    text-align: center;

    background: #eaeaea;

    font-size: 14px;
    .footer-item {
      display: inline-block;

      padding: 10px;
      &.center {
        position: relative;
        bottom: 0;
      }
      .footer-link {
        text-decoration: none;

        color: #666;
        &:hover {
          text-decoration: none;

          color: #333;
        }
      }
    }
  }
}
